
table {
  th, td {
    &.column-count {
      width: 74px;
      text-align: center;
    }
  }
}

body {
  &.users_page_leira-roles {

    .inline-editor {
      > td {
        padding: 0 12px;
      }

      fieldset label input[type=checkbox] {
        margin-left: 1px;
      }

      .cb-capabilities-select-all {

      }

      .capabilities-container {

        > label.capability-item {
          width: 100%;


          @media screen and (min-width: 576px) {
            width: 50%;
          }

          @media screen and (min-width: 1200px) {
            width: 33%;
          }

          @media screen and (min-width: 1600px) {
            width: 25%;
          }

          @media screen and (min-width: 2000px) {
            width: 20em;
          }
        }
      }
    }
  }

  &.users-php {

    .inline-editor {
      > td {
        padding: 0 12px;
      }

      fieldset label input[type=checkbox] {
        margin-left: 1px;
      }

      .cb-capabilities-select-all {

      }

      .capabilities-container {

        > label.capability-item {
          width: 100%;

          @media screen and (min-width: 576px) {
            width: 50%;
          }

          @media screen and (min-width: 782px) {
            width: 33%;
          }

          @media screen and (min-width: 960px) {
            width: 33%;
          }

          @media screen and (min-width: 1200px) {
            width: 25%;
          }

          @media screen and (min-width: 1400px) {
            width: 20%;
          }

          @media screen and (min-width: 1500px) {
            width: 16.6em;
          }

          @media screen and (min-width: 1600px) {
            width: 20em;
          }
        }
      }
    }
  }

  &.users_page_leira-roles-capabilities {

    .capabilities-container {
      //max-height: 250px;
      overflow: auto;

      > label.capability-item {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 13px;
        cursor: pointer;
        margin: .2em 0;

        @media screen and (min-width: 576px) {
          width: 50%;
        }

        @media screen and (min-width: 1200px) {
          width: 33%;
        }

        @media screen and (min-width: 1600px) {
          width: 25%;
        }

        @media screen and (min-width: 2000px) {
          width: 20em;
        }

        input[type="checkbox"]{
          margin-left: 1px;
        }

        span.checkbox-title {
          margin: 0;
          padding: 0;
          word-wrap: break-word;
          line-height: 2.5;
          //font-size: 13px;
          color: #555;
        }

        &.hidden {
          display: none;
        }
      }
    }
  }
}

.inline-editor {

  .capabilities-container {
    //max-height: 250px;
    overflow: auto;

    > label.capability-item {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;

      &.hidden {
        display: none;
      }
    }
  }
}
